<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Styles-->
    <link rel="stylesheet" href="../css/style.css">
    <title>gJuls | Contacto</title>
</head>
<body>
    <!--nav-->
    <nav>
        <div class="w-25 brand">
            <a href="../index.html">
                <img src="../assets/logoGjuls-ico.svg" alt="Logo gJuls  - Diseño que inspira"/>
                <img src="../assets/logoGjuls-txt.svg" alt="Logo gJuls  - Diseño que inspira"/>
            </a>
        </div>
        <div class="w-75 nav stiky">
            <ul>
                <li>
                    <a href="../views/portafolio.html">
                        <img src="../assets/ico_journal-bookmark-fill.svg">
                        <span class="d-sm-none">Portafolio</span>
                    </a>
                </li>
                <li>
                    <a href="../views/servicios.html">
                        
                        <img src="../assets/ico_card-checklist.svg">
                        <span class="d-sm-none">Servicios</span>
                    </a>
                </li>
                <li>
                    <a href="../views/experiencias.html">
                         <img src="../assets/ico_arrow-through-heart.svg">
                        <span class="d-sm-none">Experiencias</span>
                    </a>
                </li>
                <li>
                    <a href="../views/contacto.html">
                        <img src="../assets/ico_envelope-paper.svg">
                        <span class="d-sm-none">Contacto</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--header-->
    <header>
        <div class="contImgHeader">
            <div class="position-absolute pt-10">
                <h1>Contacto</h1>
                <p class="text-light">
                Cambio realizado en la rama MAIN
                </p>
            </div>
        <img src="../assets/contacto.png" alt="imagen contacto">
        </div>
    </header>
    <!--main-->
    <main class="px-15">
        <!--principal | Slider-->
        <section>
            <form action="">
                <!--InfPersonal-->
                <fieldset>
                    <legend class="c-orange">Información personal</legend>
                    <!--nombre-->
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" placeholder="Nombre">
                    <br />
                    <!--Email-->
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Mail">
                    <br />  
                    <!--Email-->
                    <label for="telefono">Teléfono</label>
                    <input type="tel" id="telefono" placeholder="00 0000 0000">
                    <br />
                </fieldset>
                <!--Lista de servicios-->
                <fieldset>
                    <legend class="c-orange">Servicios de interes</legend>
                    <div class="inlineFlex">
                    <!--web-->
                    <div class=" checkRadio p-2">
                        <input type="checkbox" id="web" value="web">
                        <label for="web">Diseño web</label>
                    </div>
                    <!--ux/ui-->
                    <div class=" checkRadio p-2">
                        <input type="checkbox" id="ux_ui" value="ux_ui">
                        <label for="ux_ui">Diseño ux/ui</label>
                    </div>
                    <!--grafico-->
                    <div class=" checkRadio p-2">
                        <input type="checkbox" id="grafico" value="grafico">
                        <label for="grafico">Diseño gráfico</label>
                    </div>
                </div>
                </fieldset>
                <!--Información de atención-->
                <fieldset>
                    <legend class="c-orange">¿Como prefieres que nos conozcamos?</legend>
                    <div class="inlineFlex">
                    <!--virtual-->
                    <div class=" checkRadio p-2">
                        <input type="radio" id="virtual" value="virtual" name="primerContacto">
                        <label for="virtual">Video conferencia</label>
                    </div>
                    
                    <div class=" checkRadio p-2">
                    <!--cafe-->
                    <input type="radio" id="cafe" value="cafe" name="primerContacto">
                    <label for="cafe">Nos tomamos un café</label>
                    </div>
                    </div>
                </fieldset>
                <fieldset>
                    <label for="localidad">Localidad</label>
                    <select id="localidad">
                        <option>Ciudad de México</option>
                        <option>Monterrey</option>
                        <option>Yucatan</option>
                    </select>
                </fieldset>
                <fieldset>
                    <textarea id="mensaje" name="" cols="30" rows="10" placeholder="Mensaje"></textarea>
                </fieldset>
                <div class="text-center p-2 btns" >
                    <input type="submit" value="Enviar" id="btnSend">
                    <input type="reset" value="Cancelar" id="btnCancel" >
                </div>
            </form>
        </section>
        <!--Mapa-->
        <section class="p-2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d240863.68495400102!2d-99.28369872893013!3d19.391003839331002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce0026db097507%3A0x54061076265ee841!2sCiudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses!2smx!4v1654208117817!5m2!1ses!2smx"  style="border:0; width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main>

     <!--footer-->
     <footer>
        <div class="grid grid-template-col-row">
        <!--Mail-->
        <section class="p-1">
            <div>
                <h3>¿Preguntas sobre negocios?</h3>
                
                <p class="c-orange">mail@mail.com</p>
            </div>
        </section>
        <!--Telefono-->
        <section class="p-1">
            <div>
                <h3>¿Algo más personal?</h3>
                
                <p class="c-orange">00 0000 0000</p>
            </div>
        </section>
        <!--redesSociales-->
        <section class="p-1">
            <div>
                <h3>Tenemos mucho que compartir</h3>
            </div>
                <div class="dFlex">
                    <div class="p5">
                        <a href="#">
                            <img src="../assets/ico_facebook.svg" alt="Facebook" class="h-32">
                        </a>
                    </div>
                    <div class="p5">
                        <a href="#">
                            <img src="../assets/ico_linkedin.svg" alt="Linkedin" class="h-32">
                        </a>
                    </div>
                    <div class="p5">
                        <a href="#">
                            <img src="../assets/ico_youtube.svg" alt="Youtube" class="h-32">
                        </a>
                    </div>
                </div>
        </section>
        </div>
        <section class="text-center" >
            <span class="">2022 - Todos los Derechos Reservados</span>  
        </section>
    </footer>
    
</body>
</html>