<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Styles-->
    <link rel="stylesheet" href="../css/style.css">
    <title>gJuls | Portafolio</title>
</head>
<body>
    <!--nav-->
    <nav>
        <div class="w-25 brand">
            <a href="../index.html">
                <img src="../assets/logoGjuls-ico.svg" alt="Logo gJuls  - Diseño que inspira"/>
                <img src="../assets/logoGjuls-txt.svg" alt="Logo gJuls  - Diseño que inspira"/>
            </a>
        </div>
        <div class="w-75 nav stiky">
            <ul>
                <li>
                    <a href="../views/portafolio.html">
                        <img src="../assets/ico_journal-bookmark-fill.svg">
                        <span class="d-sm-none">Portafolio</span>
                    </a>
                </li>
                <li>
                    <a href="../views/servicios.html">
                        
                        <img src="../assets/ico_card-checklist.svg">
                        <span class="d-sm-none">Servicios</span>
                    </a>
                </li>
                <li>
                    <a href="../views/experiencias.html">
                         <img src="../assets/ico_arrow-through-heart.svg">
                        <span class="d-sm-none">Experiencias</span>
                    </a>
                </li>
                <li>
                    <a href="../views/contacto.html">
                        <img src="../assets/ico_envelope-paper.svg">
                        <span class="d-sm-none">Contacto</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--header-->
    <header>
        <div class="contImgHeader">
            <div class="position-absolute pt-10">
                <h1>Portafolio</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum mollitia quos necessitatibus voluptatibus aut illo reiciendis provident possimus ipsum, iusto asperiores eaque culpa deleniti. Minima similique praesentium sapiente ipsum expedita!
                </p>
            </div>
            <img src="../assets/portafolio.png">
        </div>
    </header>
    <!--main-->
    <main class="px-5"> 
        <!--Cards Grid-->
        <section class="gridPortafolio grid-template-col-row-portafolio p-2">
            <!--card-->
            <div class="bg-light ContCards">
                <a href="#" class="card">    
                    <div class="imgCards">
                     <img src="../assets/pagMuestra-01.png" alt="imagen de la página">
                    </div>
                    <div class="p-1">
                    <h3 class="c-dark">Titulo de la página</h3>
                    <p class="c-dark">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <br>
                    <span class="c-orange" href="">
                        ver más
                    </span>
                    </div>
                </a>
            </div>
             <!--card-->
             <div class="bg-light ContCards">
                <a href="#" class="card">    
                    <div class="imgCards">
                     <img src="../assets/pagMuestra-02.png" alt="imagen de la página">
                    </div>
                    <div class="p-1">
                    <h3 class="c-dark">Titulo de la página</h3>
                    <p class="c-dark">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <br>
                    <span class="c-orange" href="">
                        ver más
                    </span>
                    </div>
                </a>
            </div>
             <!--card-->
             <div class="bg-light ContCards">
                <a href="#" class="card">    
                    <div class="imgCards">
                     <img src="../assets/pagMuestra-03.png" alt="imagen de la página">
                    </div>
                    <div class="p-1">
                    <h3 class="c-dark">Titulo de la página</h3>
                    <p class="c-dark">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <br>
                    <span class="c-orange" href="">
                        ver más
                    </span>
                    </div>
                </a>
            </div>
             <!--card-->
             <div class="bg-light ContCards">
                <a href="#" class="card">    
                    <div class="imgCards">
                     <img src="../assets/pagMuestra-04.png" alt="imagen de la página">
                    </div>
                    <div class="p-1">
                    <h3 class="c-dark">Titulo de la página</h3>
                    <p class="c-dark">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <br>
                    <span class="c-orange" href="">
                        ver más
                    </span>
                    </div>
                </a>
            </div>
             <!--card-->
             <div class="bg-light ContCards">
                <a href="#" class="card">    
                    <div class="imgCards">
                     <img src="../assets/pagMuestra-05.png" alt="imagen de la página">
                    </div>
                    <div class="p-1">
                    <h3 class="c-dark">Titulo de la página</h3>
                    <p class="c-dark">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <br>
                    <span class="c-orange" href="">
                        ver más
                    </span>
                    </div>
                </a>
            </div>
             <!--card-->
             <div class="bg-light ContCards">
                <a href="#" class="card">    
                    <div class="imgCards">
                     <img src="../assets/pagMuestra-06.png" alt="imagen de la página">
                    </div>
                    <div class="p-1">
                    <h3 class="c-dark">Titulo de la página</h3>
                    <p class="c-dark">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <br>
                    <span class="c-orange" href="">
                        ver más
                    </span>
                    </div>
                </a>
            </div>

           
        </section>
        <!--Cards de portafolios-->
        <section class="d-none">
            <article class="cards">
                <!--Card-->
                <div class="card ">
                    <img src="../assets/pagMuestra-01.png" alt="imagen de la página">
                    <div class="p-1">
                    <h3 class="c-dark">Titulo de la página</h3>
                    <p class="c-dark">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati assumenda doloremque nisi iure quo enim aspernatur.
                    </p>
                    <br>
                    <a class="c-orange" href="">ver más</a>
                    </div>
                </div>
                <!--Card-->
                <div class="card">
                    <img src="../assets/pagMuestra-02.png" alt="imagen de la página">
                    <div class="p-1">
                    <h3 class="c-dark">Titulo de la página</h3>
                    <p class="c-dark">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati assumenda doloremque nisi iure quo enim aspernatur.
                    </p>
                    <br>
                    <a class="c-orange" href="">ver más</a>
                </div>
                </div>
                <!--Card-->
                <div class="card">
                    <img src="../assets/pagMuestra-03.png" alt="imagen de la página">
                    <div class="p-1">
                    <h3 class="c-dark">Titulo de la página</h3>
                    <p class="c-dark">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati assumenda doloremque nisi iure quo enim aspernatur.
                    </p>
                    <br>
                    <a class="c-orange" href="">ver más</a>
                    </div>
                </div>
            </article>
                <article class="cards">

                <!--Card-->
                <div class="card">
                    <img src="../assets/pagMuestra-04.png" alt="imagen de la página">
                    <div class="p-1">
                    <h3 class="c-dark">Titulo de la página</h3>
                    <p class="c-dark">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati assumenda doloremque nisi iure quo enim aspernatur.
                    </p>
                    <br>
                    <a class="c-orange" href="">ver más</a>
                    </div>
                </div>
                <!--Card-->
                <div class="card">
                    <img src="../assets/pagMuestra-05.png" alt="imagen de la página">
                    <div class="p-1">
                    <h3 class="c-dark">Titulo de la página</h3>
                    <p class="c-dark">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati assumenda doloremque nisi iure quo enim aspernatur.
                    </p>
                    <br>
                    <a class="c-orange" href="">ver más</a>
                    </div>
                </div>
                <!--Card-->
                <div class="card">
                    <img src="../assets/pagMuestra-06.png" alt="imagen de la página">
                    <div class="p-1">
                    <h3 class="c-dark">Titulo de la página</h3>
                    <p class="c-dark">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati assumenda doloremque nisi iure quo enim aspernatur.
                    </p>
                    <br>
                    <a class="c-orange" href="">ver más</a>
                    </div>
                </div>
            </article>
        </section>
        <!---->
        <section class="text-center pt-10 pb-10">
            <a href="../views/contacto.html" class="btnContacta">Contáctanos</a>
                <div class="contHrs">
                    <h1 class="textHora text-center" style="" >
                        Hora de platicar | Hora de platicar | Hora de platicar | Hora de platicar
                    </h1>
                </div>
        </section>
    </main>





     <!--footer-->
     <footer class="p-2">
        <div class="grid grid-template-col-row">
        <!--Mail-->
        <section class="p-1">
            <div>
                <h3>¿Preguntas sobre negocios?</h3>
                
                <p class="c-orange">mail@mail.com</p>
            </div>
        </section>
        <!--Telefono-->
        <section class="p-1">
            <div>
                <h3>¿Algo más personal?</h3>
                
                <p class="c-orange">00 0000 0000</p>
            </div>
        </section>
        <!--redesSociales-->
        <section class="p-1">
            <div>
                <h3>Tenemos mucho que compartir</h3>
            </div>
                <div class="dFlex">
                    <div class="p5">
                        <a href="#">
                            <img src="../assets/ico_facebook.svg" alt="Facebook" class="h-32">
                        </a>
                    </div>
                    <div class="p5">
                        <a href="#">
                            <img src="../assets/ico_linkedin.svg" alt="Linkedin" class="h-32">
                        </a>
                    </div>
                    <div class="p5">
                        <a href="#">
                            <img src="../assets/ico_youtube.svg" alt="Youtube" class="h-32">
                        </a>
                    </div>
                </div>
        </section>
        </div>
        <section class="text-center" >
            <span class="">2022 - Todos los Derechos Reservados</span>  
        </section>
    </footer>
    
</body>
</html>